<h1>DASHBOARD</h1>
<a href="/setting"><button id="setting" class="button-setting" value="setting">setting</button></a>
<a href="/store"><button id="store" class="button-store" value="store">store</button></a>
<a href="/cart"><button id="cart" class="button-cart" value="cart">cart</button></a>