<h1>index page (with video background)</h1>
<a href="/auth/login"><button id="login" class="button-login" value="login">login</button></a>
<a href="/register"><button id="register" class="button-register" value="register">register</button></a>