<section class="colored-section" id="title">
  <div class="container-fluid">
  </div>
</section>
<section class="showcase">
  <!-- Video Source -->
  <header>
    <div>
      <h1 class="title text-center">The Sound Wave</h1>
    </div>
  </header>
  <video src="./image/9999999.mp4" muted loop autoplay></video>


  <div class="text">
    <div>
      <h1 class="music-title">Music Now <br> and Forever</h1>
    </div>
    <div>
      <p class="display-3">Try out brand new music service and listen without limits.</p>
    </div>
    <a href="/auth/register">register</a>
    <a href="/auth/login">login</a>
  </div>
</section>