<section class="colored-section" id="title">
  <div class="container-fluid">
  </div>
</section>
<section class="showcase">
  <!-- Video Source -->
  <header>
    <img class='logoimg' src="./image/thesoundwavelogo.png" alt="logo">
    <h2 class="logo">The Sound Wave</h2>
    <div class="toggle"></div>
  </header>
  <video src="./image/9999999.mp4" muted loop autoplay></video>
  <div class="overlay"></div>
  <div class="text">
    <h1 class="music-title">Music Now and Forever</h1>
    <p>
      Try out brand new music service and listen without limits.
    </p>
    <a href="/auth/register">register</a>
    <a href="/auth/login">login</a>
  </div>
  <ul class="social">
    <li>
      <a href="https://www.facebook.com"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
    </li>
    <li>
      <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
    </li>
    <li>
      <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
    </li>
  </ul>
</section>
<div class="menu">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="#">Music</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>