* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

a {
  color: #bbb;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: url("../image/registerbg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(1px);
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 540px;
  height: 540px;
  background-color: rgba(10, 10, 10, 0.5);
  margin: auto auto;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px black;
}
.content .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.content input {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Open Sans";
  margin: 10px 0px;
  border: none;
  padding: 10px;
  border-radius: 4px;
}
.content input[type="checkbox"] {
  display: none;
}

.content label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  top: 5px;
}
.content label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
.content input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: Black;
  text-align: center;
  line-height: 20px;
}
.content span {
  font-size: 0.9rem;
}
.content button {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px 0px;
  background-color: #4d9e38;
  color: White;
  border: none;
  border-radius: 6px;
}

.content button:hover {
  background-color: #376e2a;
}

.content .social {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.content .social span {
  display: inline-block;
  vertical-align: baseline;
  padding: 0 20px;
}
.content .social span:before,
.content .social span:after {
  content: "";
  display: block;
  width: 500px;
  position: absolute;
  top: 0.9em;
  border-top: 1px solid White;
}
.content .social span:before {
  right: 75%;
}
.content .social span:after {
  left: 75%;
}

/* buttons */

.content .buttons {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .buttons button {
  width: 40%;
  margin: 0px 1.5%;
}
.content .buttons button i {
  padding-right: 7px;
}
.content .buttons button.facebook {
  background-color: #4464b2;
}

.content .buttons button.facebook:hover {
  background-color: #163e9c;
}

.content .buttons button.twitter {
  background-color: #28a9e0;
}

.content .buttons button.twitter:hover {
  background-color: #1c82ad;
}

.content .buttons button.google {
  background-color: #da4735;
}

.content .buttons button.google:hover {
  background-color: #b61c1c;
}

.content .buttons:after {
  content: "";
  display: block;
  clear: both;
}
.content .already {
  text-align: center;
  font-size: 0.9rem;
}

/* h1 {
	color: red;
} */

.music-player {
  height: 50px;
  width: 300px;
  border-color: black;
  border-style: double;
}
